.assetable-external-services.assetable-modal.modal.fade
  .modal-dialog
    .modal-content
      = form_for [:assetable, external_service], remote: true do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title Third Party Service
        .modal-body
          
          = hidden_field_tag :fieldname, fieldname
          = hidden_field_tag :uploader_id, uploader_id

          .form-group
            = f.label :name
            = f.text_field :name, class: "form-control input-fluid", required: true
          .form-group
            = f.label :content_type
            = f.select :content_type, ExternalService.possible_content_types
          .form-group
            = f.label :filename
            = f.text_field :filename, class: "form-control input-fluid"
          .form-group
            = f.label :body
            = f.text_area :body, class: "form-control input-fluid", required: true
          .form-group.row
            .col-xs-6
              = f.label :width
              = f.number_field :width, class: "form-control input-fluid"
            .col-xs-6
              = f.label :height
              = f.number_field :height, class: "form-control input-fluid"

        .modal-footer
          = button_tag "Cancel", class: "btn btn-default", :'data-dismiss' => "modal", type: "button"
          = f.submit "Add Third Party Service", class: "btn btn-primary"
